---
layout: default
title: Home
cover: true
about: 'about.html'
contact: 'contact.html'
---

<header class="main-header {% if page.cover %}" style="background-image: linear-gradient(to bottom right, #1e1e1e, #3e3e3e) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }} {% endif %}
            </h2>
            <p>
                {% if page.about %} <a href='{{page.about | relative_url}}'> About me </a> {% endif %}
                 |
                {% if page.contact %} <a href='{{page.contact | relative_url}}'> Contact </a> {% endif %}
            </p>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>
    <h2 class="post"><a href="search">👉🏼 Go to search page</a></h2>
    {% for post in paginator.posts %}

    <article class="post">

        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="{{'/assets/images/profile.png' | relative_url}}" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>
            <div>
                {% for category in post.categories %}
                    #{{category}}
                {% endfor %}
            </div>
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
